.config/quickshell/Caelestia
.config/quickshell/shell/plugin/build
.config/quickshell/plugin_settings.json
.config/quickshell/optional/Minerva/backend/core/__pycache__
.config/quickshell/optional/Minerva/__pycache__
.venv
