* {
    background:      #0f1422;
    background-alt:  #0f1422;
    foreground:      #c3c4c7;
    selected:        #31509A;
    active:          #4F65AB;
    urgent:          #5D92D9;
    border:          #8DA5DC;
    border-alt:      #4F71CF;
}
