* {
    background:      #0b0b19;
    background-alt:  #0b0b19;
    foreground:      #c2c2c5;
    selected:        #9A8D75;
    active:          #D49571;
    urgent:          #CFB5A5;
    border:          #DAC7B6;
    border-alt:      #74828A;
}
